@import '../../styles/vars.scss';

.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $size__margin_main;
}

.main-container {
  height: 100%;
  border-radius: $size__search-panel_br;
  padding: $size__text_second;
  background-color: var(--color__bg_substrate);
  overflow: hidden;
}

.main-wrapper {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    display: block;
    background-color: $color__bg_main;
    border-radius: 3em;
  }

  &::-webkit-scrollbar {
    width: 0em;
    background-color: $color__bg_substrate;
  }
}
