@import '../../styles/vars.scss';

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spiner {
  font-size: $size__text_second;
  animation: rotate-spiner 1.75s ease-in-out 3s infinite;
}

@keyframes rotate-spiner {
  0% {
    transform: rotate(0deg) scale(2);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(2);
  }
}
