@import '../../styles/vars.scss';

.image {
  border-radius: $size__search-panel_br;
  background-color: $color__bg_home;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: $size__breed-img_height;
  }
}
