@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.upload-button {
  @include panel-button;
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: 0;
  font-size: $size__text_button;
  align-items: center;
  background-color: var(--color__voiting_bg-hover);
  transition: color 0.23s, background-color 0.23s;

  &:hover {
    color: $color__text_alt;
    background-color: $color__voiting_favorite;
  }

  &__icon {
    @include icon-link(
      '/assets/svg/upload.svg',
      $size__text_main,
      $color__voiting_text,
      $color__voiting_text-active
    );
    margin-right: $size__margin_search-panel;
  }

  &:hover &__icon:before {
    background-color: $color__voiting_text-active;
  }
}
