@import '../../styles/vars.scss';

.search-title {
  font-size: $size__text_second;
  color: $color__text_second;
  margin-bottom: $size__margin_header-settings;
}

.search-key {
  color: $color__text_main;
  font-weight: 500;
}
